# === OpenAI / ChatGPT ===
OPENAI_API_KEY=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
# Opcional para Azure u otros gateways compatibles
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_ORG=
OPENAI_PROJECT=

# === Qdrant ===
# Si usas Cloud: URL y API key
QDRANT_URL=https://07fa4f33-60b8-4833-ba9c-4334d3383856.us-west-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwiZXhwIjoxNzgxMTk2NDIyfQ.Y1Nzow0mQJ9kf459Y_xzdRWvcTtgfMAKBO272xrEejk
# Si usas self-hosted: host/port (se ignoran si QDRANT_URL está presente)
QDRANT_HOST=
QDRANT_PORT=
QDRANT_COLLECTION=MiColeccionRag

# === LangChain / LangSmith (tracing/observabilidad) ===
LANGCHAIN_API_KEY=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
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=pr-stupendous-lung-29
LANGCHAIN_TRACING_V2=true
LANGCHAIN_TIMEOUT=60


